body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.card-widget {
    width: 400px;
    border: 2px solid black;
    padding: 10px;
    background-color: gainsboro;
}

.card-list {
    display: flex;
    margin-bottom: 3px;
    list-style: none;
    padding-left: 0;
}

.card {
    width: 40px;
    height: 40px;
    margin: 2px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dark-card {
    filter: grayscale(100%);
    opacity: 0.5;
}

.visa {
    background-image: url(../images/Visa.png);
}

.mastercard {
    background-image: url(../images/MasterCard.png);
}

.americanExpress {
    background-image: url(../images/AmericanExpress.png);
}

.discover {
    background-image: url(../images/Discover.png);
}

.jcb {
    background-image: url(../images/JCB.png);
}

.dinersClub {
    background-image: url(../images/DinersClub.png);
}

.mir {
    background-image: url(../images/Mir.png);
}

.check-field {
    display: flex;
    width: 100%;
    justify-content:space-between;
}

.input {
    width: 68%;
    margin-right: 2%;
}

.btn {
    width: 30%;
    background-color: limegreen;
}
